{% block content %}
<form class="payments-form" action="{% url 'BankTransfer' %}" method="POST">
    {% csrf_token %}
      <labels>Accepted Cards</label>
      <div class="icon-container">
        <i class="fa fa-cc-visa" style="color:navy;"></i>
        <i class="fa fa-cc-amex" style="color:blue;"></i>
        <i class="fa fa-cc-mastercard" style="color:red;"></i>
      </div>
      <label for="ccnum">Credit card number</label>
      <input  type="text" id="ccnum" name="card_number" placeholder="1111-2222-3333-4444" required>

      <label for="cvc">CVC</label>
      <input  type="text" id="cvc" name="cvc" placeholder="453" required>

      <label for="expire_date">Expire Date</label>
      <input type="date" id="expire_date" name="expire_date" placeholder="453" required>

      <label for="amount">Insert Amount</label>
      <input type="text" id="amount" name="amount" placeholder="Min. amount 100 kr." required>

  <input type="submit" class="transferBtn" id="submit" value="Transfer">
  

</form>
{% endblock %}
