{% extends 'betting_app/loggedIn-nav-footer.html' %}

{% block title %} {{user.username}} {% endblock %}

{% block content %}

<div class="user-page">

    <div class="user-page-top">

    <div class="user-page-nav">
        <a class="live-nav" href="#">LIVE 43</a>
        <a href="#genre">SOCCER</a>
        <a href="#user-games-overview">RESULTS</a>
        <a href="#payments">PAYMENTS</a>
        <a href="#userBets">Your Bets</a>
    </div>


    <div class="user-page-amount">
        <span>Account Number: {{ curr_user.account_number }}</span>
        <h1>Your Amount</h1>
        <p> {{ curr_user.balance  }}  Kr.</p>
        <form action="{% url 'payout' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="money" value="{{ curr_user.balance  }}">
            <input type="hidden" name="pk" value="{{ user.pk }}">
            <input type="submit" value="Pay out">
        </form>
    </div>

    </div>


    <div class="user-page-under-menu">
        <div id="genre">
            <h1>SOCCER</h1>
        </div>
        <div class="events">
            <h3>TOP EVENTS</h3>
            <h3>LIVE EVENTS</h3>
        </div>
            
    </div>

    <!--THE USERS TOP GAME-->
    <div class="user-games">
        <div></div>
        <!--GAME BOX 1-->
        <div class="game1">

            <!--TITLE AND PLACE FOR THE GAME-->
            <div class="game-title-place">
                <span>{{latestGame.home_team_name}}</span>
                <span>{{latestGame.away_team_name}}</span>
            </div>

            <!--TIME AND DATE FOR THE GAME-->
            <div class="game-date-time">
                <span>{{latestGame.leauge}}</span>
                <span>{{latestGame.match_date}}</span>
            </div>

            <!--GAME LOGO-->
            <div class="game-logo">
                <img src="https://www.fck.dk/sites/default/files/styles/team_logo/public/logos/fck_logo_400x400.png?itok=yMP658yO" alt="">
                <img src="https://www.fck.dk/sites/default/files/styles/team_logo/public/logos/teamlogo.png?itok=7IH4a4Bt" alt="">
            </div>

            <!--GAME ODDS-->
            <div class="game-odds">
                <div class="game-odds-1">
                    <span>1</span>
                    <span>1.30</span>
                </div>
                <div class="game-odds-x">
                    <span>x</span>
                    <span>1.30</span>
                </div>
                <div class="game-odds-2">
                    <span>2</span>
                    <span>1.30</span>
                </div>

            </div>
        </div>

        <!--GAME BOX 1-->
        <div class="game2">

            <!--TITLE AND PLACE FOR THE GAME-->
            <div class="game-title-place">
                <span>{{secondLatest.home_team_name}}</span>
                <span>{{secondLatest.away_team_name}}</span>
            </div>

            <!--TIME AND DATE FOR THE GAME-->
            <div class="game-date-time">
                <span>{{secondLatest.leauge}}</span>
                <span>{{secondLatest.match_date}}</span>
            </div>

            <!--GAME LOGO-->
            <div class="game-logo">
                <img src="https://www.fck.dk/sites/default/files/styles/team_logo/public/logos/fck_logo_400x400.png?itok=yMP658yO" alt="">
                <img src="https://www.fck.dk/sites/default/files/styles/team_logo/public/logos/teamlogo.png?itok=7IH4a4Bt" alt="">
            </div>

            <!--GAME ODDS-->
            <div class="game-odds">
                <div class="game-odds-1">
                    <span>1</span>
                    <span>1.30</span>
                </div>
                <div class="game-odds-x">
                    <span>x</span>
                    <span>1.30</span>
                </div>
                <div class="game-odds-2">
                    <span>2</span>
                    <span>1.30</span>
                </div>
            </div>

        </div>
    </div>

    <!--THE USERS GAME OVERVIEW-->
    <div id="user-games-overview">
        <div></div>
        <div class="the-overview">
            <!--OVERVIEW NAVIGATION-->
            <div class="the-overview-nav">
                <h3>TODAY</h3>
                <h3 style="font-weight: 300;">TOMORROW</h3>
            </div>
            <!--OVERVIEW FILTER-->
            <div class="the-overview-filter">
                <h3 style="font-weight: bold;">SORT BY</h3>
                <h3>Time</h3>
                <h3>Leauge</h3>
            </div>

            <!--GAMES -->
            <div class="the-overview-games">
                {% for game in games %}
                {% if game.winner.winner == 'Not settled' %}
                <!--GAME PLAYERS-->
                <div class="game-players">
                    <p class="leauge">{{game.leauge}}</p>
                    <span>{{game.home_team_name}}</span>
                    <span>{{game.away_team_name}}</span>
                </div>
            
                <!--GAME ODDS-->
                <form action="{% url 'place_bet' %}" method="POST" class="betting_form">
                    {% csrf_token %}
                    <div class="game-odds">
                        <input type="hidden" name="game_pk" value="{{game.pk}}">

                        <select name="selected_team" id="options">
                            <option value="{{game.draw}}">{{game.draw}}, Odds: {{game.draw_odds_number}}</option>
                            <option value="{{game.home_team_name}}">{{game.home_team_name}}, Odds: {{game.home_odds_number}}</option>
                            <option value="{{game.away_team_name}}">{{game.away_team_name}}, Odds: {{game.away_odds_number}}</option>
                        </select> 


                        
                        <!-- <input type="radio" id="game-odds-1" name="selected_team" value="{{game.home_team_name}}">
                        <label for="game-odds-1">1 <br> {{game.home_odds_number}}</label>

                        <input type="radio" id="game-odds-x" name="selected_team" value="{{game.draw}}">
                        <label for="game-odds-x">x <br> {{game.draw_odds_number}}</label>

                        <input type="radio" id="game-odds-2" name="selected_team" value="{{game.away_team_name}}">
                        <label for="game-odds-2">2 <br> {{game.away_odds_number}}</label> -->
                       



                        <!-- <div class="game-odds-1">
                            <span>1</span>
                            <span>{{game.home_odds_number}}</span>
                        </div>
                        <div class="game-odds-x">
                            <span>x</span>
                            <span>{{game.draw_odds_number}}</span>
                        </div>
                        <div class="game-odds-2">
                            <span>2</span>
                            <span>{{game.away_odds_number}}</span>
                        </div> -->
                    </div>
                    <div class="placeBet">
                        <input type="text" name="amount" placeholder="Insert bet amount" class="betAmount">
                        <input type="submit" value="Place bet"  class="betButton">
                    </div>
                </form>
            {% endif %}
            {% endfor %}
            </div>

        </div>
    </div>

     <!--THE USERS BET-->
    <div id="userBets">
     <div></div>
        <div class="the-bet-overview">
         
            <div class="the-overview-nav">
                <h3>MY BETS</h3>
            </div>

            <div class="the-bet-filter">
            </div>

            <div class="bet-overview-games">
                {% for userBet in userBets %}
                <!--GAME PLAYERS-->
                <div class="my-bet-games">
                    <span>{{userBet.game.home_team_name}}</span>
                    <span>{{userBet.game.away_team_name}}</span>
                </div>
            
                <!--GAME ODDS-->
            <div class="my-bets-result">
                <span>Your winner: {{userBet.selected_team}}</span> <br>
                <span class="betamount">Your deposit: {{userBet.bet_amount}}</span>
                
                <button>{{userBet.game.winner.winner}}</button>
            </div>
            {% endfor %}
            </div>

            </div>

    </div>

    <ul id="list"></ul>

    <!--THE USERS PAYMENT-->
    <div id="payments">
        <div></div>
              <div class="payments-container">
                <h3>PAYMENT</h3>
          
                {% include 'betting_app/Banktransfer-form.html' %}

              </div>
    </div>

</div>

{% endblock %}