{% extends 'betting_app/loggedIn-nav-footer.html' %}

{% block title %} Admin {% endblock %}

{% block content %}
<div class="admin-page">
    <!--ADMIN NAV -->
    <div class="page-nav">
        <a href="#users-overview-section">Users</a>
        <a href="#game-status-section">Game status</a>
        <a href="#payments-section">Payments</a>
        <a href="../create-bet">Add new bet</a>
    </div>

    <!--USER LIST-->
    <h1 id="users-overview-section">USERS</h1>
    <div class="users-overview-container">
        <div class="tabel">
            <h3>NAME</h3>
            <h3>TOTAL BETTINGS</h3>
            <h3>SALDO</h3>
        </div>
        {% for user in users  %}
        
        <div class="user-info">
            <div class="username">
                <a href="../singleview/{{user.pk}}"><p>{{user.first_name}} {{user.last_name}}</p></a>
            </div>
            <div class="user-total-betting">
                <p>{{all_bets_count}}</p>
            </div>
            
        

      
            <div class="user-saldo">
                <p>600 kr.</p>
            </div>

        </div>
       
        
        {% endfor %}
    </div>

    <!--GAMES-->
    <h1 id="game-status-section">GAME STATUS</h1>
    <div class="game-status-container">
        <div class="tabel">
            <h3 class="btn-unsettled">Unsettled bets</h3>
            <h3 class="deactivate btn-settled">Settled bets</h3>
        </div>
        <!--UNSETTLED GAMES-->
        <div class="unsettled-bets-container">
            {% for game in games %}
            {% if game.winner.winner == 'Not settled' %}
            <div class="game">
                <div class="bet-options">
                    <p class="option-a">{{game.home_team_name}}</p>
                    <p class="option-b">{{game.away_team_name}}</p>
                </div>
                <div class="other">
                    <p>{{game.match_date}}.</p>
                </div>

                <!--UPDATE WINNER-->
                <div class="update-winner">
                    <form action="{% url 'update_winner' %}" method="POST">
                        <p>Winner:</p>
                        {% csrf_token %}
                        <select name="options" id="options">
                            <option value="notset">Not settled</option>
                            <option value="{{game.draw}}">{{game.draw}}</option>
                            <option value="{{game.home_team_name}}">{{game.home_team_name}}</option>
                            <option value="{{game.away_team_name}}">{{game.away_team_name}}</option>
                        </select>
                        <br><br>
                        <input type="hidden" name="pk" value="{{game.pk}}">
                        <input type="submit" value="Update winner">
                    </form>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!--SETTLED GAMES-->
        <div class="settled-bets-container">
            {% for winner in winners %}
            {% if winner.winner != 'Not settled' %}
            <div class="game">
                <div class="bet-options">
                    <p class="option-a">{{winner.game.home_team_name}}</p>
                    <p class="option-b">{{winner.game.away_team_name}}</p>
                </div>
                <div class="other">
                    <p>{{winner.game.match_date}}</p>
                </div>
                <div class="update-winner">
                    <p>Winner:</p>
                    <p>{{winner.winner}}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!--COMPANY MONY ACCOUNT-->
    <h1 id="payments-section">PAYMENTS</h1>
    <div class="payment-container">
        <div class="saldo">
            <div class="saldo-purple">
                <h2>SALDO</h2>
                <div>
                    <h2> {{ curr_users.balance  }} </h2>
                </div>
            </div>
        </div>
        <!--TRANSACTIONS FROM COMPANY ACCOUNT-->
        <div class="transaction-container">
            <h2>TRANSACTION</h2>
            
            <div class="transaction-tabel">
                
                <div class="tabel">
                    <h3>AMOUNT</h3>
                    <h3>USER</h3>
                </div>
                <div class="transaction">
                    {% for ledger in ledgers %}
                    <p>{{ ledger.amount }}</p>
                    <p>{{ ledger.account }}</p>
                    {% endfor %}
                </div>
 
                
            </div>
        </div>
    </div>
</div>

<script>
// Load DOM
document.addEventListener("DOMContentLoaded", displaySettledBets);

// SHOW SETTLED BETS
function displaySettledBets() {
    document.querySelector(".btn-settled").addEventListener("click", function () {

        document.querySelector(".settled-bets-container").style.display = "block";
        document.querySelector(".unsettled-bets-container").style.display = "none";
        document.querySelector(".btn-settled").classList.remove("deactivate");
        document.querySelector(".btn-unsettled").classList.add("deactivate");

        displayUnsettledBets();
    });
};

//SHOW UNSETTLED BETS
function displayUnsettledBets() {
    
    document.querySelector(".btn-unsettled").addEventListener("click", function () {

    document.querySelector(".settled-bets-container").style.display = "none";
    document.querySelector(".unsettled-bets-container").style.display = "block";
    document.querySelector(".btn-settled").classList.add("deactivate");
    document.querySelector(".btn-unsettled").classList.remove("deactivate");

    displaySettledBets();
    });
}; 
</script>
{% endblock %}