{% extends 'betting_app/loggedIn-nav-footer.html' %}

{% block title %} Admin {% endblock %}

{% block content %}
<div class="admin-page">
    <!--GO TO DASHBOARD -->
    <div class="page-nav">
        <a href="/betting-admin">dashboard</a>
    </div>

    <!--CUSTOMER DETAILS FOR SINGE CUSTOMER-->
    <h1>Customer details</h1>
    <div class="customer-detail-container">
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        <h3>Username:</h3>
        <p>{{user.username}}</p>
        <h3>Email:</h3>
        <p>{{user.email}}</p>
        <h3>Phone nr.:</h3>
        <p>{{user.userprofile.phone}}</p>

        <!--UPDATE USER ROLE-->
        <form action="{% url 'update_role' %}" method="POST">
            <h3>Role:</h3>
           {% csrf_token %}
            <select name="role">
                <option value="customer">Customer</option>
                <option value="admin">Admin</option>
            </select>
            <input type="hidden" name="pk" value="{{user.pk}}">
            <input type="submit" value="Update role">
        </form>
    </div>
</div>
{% endblock %}