<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'betting_app/nav-footer.css' %}">
    <link rel="stylesheet" href="{% static 'betting_app/admin.css' %}">
    <link rel="stylesheet" href="{% static 'betting_app/bettingUser.css' %}">
    <link rel="stylesheet" href="{% static 'betting_app/userProfil.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    {% if user.is_authenticated%}

    <nav>
        <a class="logo" href="/betting-user">A-BET365</a>
        <a href="/betting-user"></a>
        <a href="/userdetail">{{user.username}}</a>
        <a href="{% url 'logout' %}">LOGOUT</a>
    </nav>

    {% block content %}
    {% endblock %} 

    <footer>
        <div class="footer-container">
            <div class="info">
                <h3>Information</h3>
                <p>Privacy policy</p>
                <p>About us</p>
                <p>Press</p>
            </div>
            <div class="contact">
                <h3>Contact</h3>
                <p>info@betting.com</p>
            </div>
            <div class="jobs">
                <h3>Jobs</h3>
                <p>Open positions</p>
            </div>
            <div class="company-info">
                <h2>A-Betting A/S</h2>
                <p>Lars Bjørns stræde 12, 3.tv.</p>
                <p>1722 Copenhagen V</p>
                <p>Denmark</p>
                <p>CVR no.: 28312839</p>
            </div>
        </div>
    </footer>
    {% endif %}
</body>
</html>