{% extends 'betting_app/loggedOut-nav-footer.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}

<div class="signup-page">
    <div class="signup-container">
        <h1>Sign Up</h1>
        <!--SIGN UP FORM-->
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username"> <br>
            <input type="text" name="firstname" placeholder="First name"> <br>
            <input type="text" name="lastname" placeholder="Last name"> <br>
            <input type="email" name="email" placeholder="Email"> <br>
            <input type="text" name="phone" placeholder="Phone number"> <br>
            <input type="password" name="password" placeholder="Password"> <br>
            <input type="password" name="confirm_password" placeholder="Confirm Password"> <br>
            <input type="checkbox" name="age-checkbox">
            <label for="age-checkbox">I hereby confirm that I am over 18 years old.</label><br>
            <input type="submit" value="Sign Up" required> <br>
        </form>
        <p>Already have an account? Login <a href="/">here</a></p>
    </div>
</div>
{% endblock %}