{% extends 'betting_app/loggedIn-nav-footer.html' %}

{% block title %} {{username}} {% endblock %}

{% block content %}

<div class="user-page">

    <div class="user-page-top">

    <div class="user-page-nav">
        <a class="live-nav" href="/betting-user">LIVE 43</a>
        <a href="/betting-user#genre">SOCCER</a>
        <a href="/betting-user#user-games-overview">RESULTS</a>
        <a href="/betting-user#payments">PAYMENTS</a>
        <a href="/betting-user#userBets">Your Bets</a>
    </div>

    </div>

    <!--THE USERS PAYMENT-->
    <div id="userprofil">
        <div></div>
          <div class="userprofil-container">
            <form action="{% url 'update_userdetails' %}" method="POST">
                    {% csrf_token %}
                <div class="userprofil-name-img">
                    <h3 class="fullname">Hello, {{user.first_name}} {{user.last_name}}</h3>
                    <span class="username">{{user.username}}</span>
                </div>
                <div class="userprofil-phone-email">
                    <label for="phonenumber">Change phonenumber:</label>
                      <input type="text" id="phonenumber" value="{{user.userprofile.phone}}" name="phonenumber">
                      <label for="email">Change your e mail:</label>
                     <input type="email" id="email" value="{{user.email}}" name="email">
                    <input type="hidden" name="pk" value="{{user.pk}}">
                    <input type="submit" value="Update information" required>
                </div>
            </form>
          </div>

          <div class="userprofil-container">
            <form action="{% url 'update_password' %}" method="POST">
                    {% csrf_token %}
                <div class="userprofil-name-img">
                    <h3>Want to create a new password?</h3>
                    <span class="username">You will be asked to login again.</span>
                </div>
                <div class="userprofil-phone-email">
                     <label for="password">Write new password:</label>
                     <input type="password" name="password">
                     <label for="confirm_password">Confirm new password:</label>
                    <input type="password" name="confirm_password">
                    <input type="hidden" name="pk" value="{{user.pk}}">
                    <input type="submit" value="Change password" required>
                </div>
            </form>
          </div>
           
    </div>
</div>

{% endblock %}