.admin-page {
    margin: 20px 80px 30px 80px;
}
.page-nav{
    width: 500px;
    display: grid;
    grid-template-columns: 1.2fr 2fr 1.5fr 1.5fr;
    text-transform: uppercase;
    margin-bottom: 60px;
    cursor: pointer;
}
.page-nav a{
    color: #f3f3f3;
}

.users-overview-container {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: black;
    text-align: center;
    margin-bottom: 70px;
}

.users-overview-container > .tabel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3c2278;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.users-overview-container > .user-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(126, 126, 126);
    padding: 10px;
}
.users-overview-container > .user-info p{
    margin: 2px;
}
.users-overview-container > .user-info > .user-saldo, .user-total-betting, .username{
    margin: auto;
}

.game-status-container, .payment-container{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: black;
    margin-bottom: 70px;
}
.game-status-container > .tabel{
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    background-color: #3c2278;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 30px;
}
.game-status-container > .tabel > h3{
    cursor: pointer;
}
.game-status-container > .tabel > .deactivate{
    font-weight: 100;
}
.game-status-container > .tabel > .deactivate:hover{
    color: #fbcf00;
}
.game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid rgb(126, 126, 126);
    padding: 10px 10px 10px 30px;
}
.game > .bet-options{
    text-transform: uppercase;
}
.game > .other, .update-winner{
    margin: 2px auto 2px auto;
}
.game > .bet-options p, .other p, .update-winner p{
    margin: 2px;
}
.update-winner input[type=submit]{
    background-color: #fbcf00;
    border: none;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
.update-winner input[type=submit]:hover{
    background-color: #ffdc42;
}

.settled-bets-container {
    display: none;
}

select
{
    padding: 5px;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 5px;
    background-color: #f3f3f3;
}

/* PAYMENTS */

.payment-container{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    color: white;
    background-color: #3c2278;
}
.payment-container > .saldo{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: auto;
}
.payment-container > .saldo > .saldo-purple{
    margin: auto;
}
.payment-container > .saldo > .saldo-purple h2{
    text-align: center;
}
.payment-container > .saldo > .saldo-purple div{
    background-color: #fbcf00;
    color: black;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
}
.payment-container > .saldo > .saldo-purple div > h2{
    margin: 0;
}
.payment-container > .transaction-container{
    background-color: #f3f3f3;
    color: black;
    text-align: center;
}
.payment-container > .transaction-container > .transaction-tabel{
    width: 400px;
    border: solid 2px #3c2278;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 5px;
}
.payment-container > .transaction-container > .transaction-tabel > .tabel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    background-color: #3c2278;
}
.payment-container > .transaction-container > .transaction-tabel > .transaction{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* CREATE BET */

.create-bet-container{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: black;
    padding: 10px;
    width: 400px;
}

.create-bet-container input[type=submit]{
    background-color: #fbcf00;
    border: none;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 40px;
}
.create-bet-container input[type=submit]:hover{
    background-color: #ffdc42;
}

.odds-fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.odds-fields input[type=text]{
    padding: 5px;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 5px;
}

/* CUSTOMER SINGLEVIEW */

.customer-detail-container{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: black;
    padding: 10px;
    width: 400px;
}
.customer-detail-container input[type=submit]{
    background-color: #fbcf00;
    border: none;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
.customer-detail-container input[type=submit]:hover{
    background-color: #ffdc42;
}