.user-page {
    margin: 20px 80px 30px 80px;
}

.user-page-top{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.user-page-nav a{
    padding: 10px;
    color: white;

}

.user-page-nav{
    width: 600px;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr;
    text-transform: uppercase;
    margin-bottom: 60px;
    cursor: pointer;
}

.user-page-amount{
    padding: 10px;
    border: 2px solid white;
    text-align: center;
    display: grid;
    border-radius: 25px;
    }

    .user-page-amount input[type=submit]{
        background-color: #FBCF00;
        border: 0;
        padding: 5px;
        width: 30%;
        margin: 0 auto;
    font-weight: bolder;
    margin-top: 20px;
    border-radius: 25px;
    


    }


.live-nav{
    background-color:#FBCF00;
    padding: 10px;
    width: 100px;
    height: 20px;
    color: black !important;
    text-align: center;
    border-radius: 25px;
}

.user-page-under-menu{
    display:grid; 
    grid-template-columns: 200px 400px 400px;
    gap: 10px;
}

.events{
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
}

/*THE TOP GAMES*/

.user-games{
    display:grid; 
    grid-template-columns: 2fr 1.5fr 1.5fr;
    gap: 10px;
    padding: 20px;
    
}

.game1,
.game2{
    background-color: white;
    color: black;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    border-radius: 15px;
}

.game-title-place{
    display: grid;
    gap: 200px;
    grid-template-columns: 1fr 1fr;
}

.game-title-place span{
    margin-bottom: 10px;
    font-weight: bold;
}

.game-date-time{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
}
.game-date-time span{
    font-weight: lighter;
    margin-bottom: 20px;
}

.game-logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
}

.game-logo img{
    max-width: 100px;
    max-height: 100px;
}


.game-odds-1,
.game-odds-x,
.game-odds-2{
    display: grid;
    grid-row: 2;
    background-color: #3c2278;
    color: white;
    text-align: center;
    padding: 10px 40px 10px 40px;
    height: 40px;
    border-radius: 15px;

}

/*THE USERS GAME OVERVIEW*/

#user-games-overview{
    display:grid; 
    grid-template-columns: 1fr 4.2fr;
    gap: 10px;
    padding: 20px;
    
}
.the-overview{
    background-color: white;
    color: black;
    margin: 20px;
    justify-content: center;
    border-radius: 15px;
}

.the-overview-nav{
    display: grid;
    grid-template-columns: 100px 100px;
    padding-left: 30px;
}

.the-overview-filter{
    display: grid;
    grid-template-columns: 100px 70px 70px;
    color: white;
    background: #3c2278;
    padding-left: 30px;
}


.the-overview-games{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#options{
    color: black;
background-color: white;
    padding: 8px 16px;
    border: 1px solid black;
    cursor: pointer;
}

.game-odds{
    display:grid; 
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 40px;
}

.placeBet{
    padding: 40px;
    display: grid;
    gap: 50px;
    grid-template-columns: 2fr 1fr;
}

.betting_form{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.betAmount{
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    
}

.betButton{
    background-color: #FBCF00;
    border: 0;
    width: 100%;
    font-weight: bolder;
    border-radius: 25px;
    cursor: pointer;
}

.game-players{
  display: grid;
  gap: 10px;
  padding: 10px;
  margin: 10px;
}

.game-players span{
    text-transform: uppercase;
}
.leauge{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}



/*THE USERS BET*/
#userBets{
    display:grid; 
    grid-template-columns: 1fr 4.2fr;
    gap: 10px;
    padding: 20px;
    
}

.the-bet-filter{
    background: #3c2278;
    padding: 2px;
}

.the-bet-overview{
    background-color: white;
    color: black;
    margin: 20px;
    justify-content: center;
    border-radius: 15px;
}

.bet-overview-games{
    display:grid; 
    grid-template-columns: 5fr 1fr;
    gap: 10px;
}

.my-bet-games{
    display: grid;
    gap: 10px;
    padding: 30px 30px 10px 30px;
}

.my-bets-result{
    padding: 30px 30px 10px 30px;
}

.my-bets-result button{ 
    background-color: #FBCF00;
    border: 0;
    padding: 10px;
    width: 100%;
    font-weight: bolder;
    border-radius: 25px;
    cursor: pointer;
}



/*PAYMENTS*/

#payments{
    display:grid; 
    grid-template-columns: 1fr 4.2fr;
    gap: 10px;
    padding: 20px; 
}

.payments-container{
    background-color: white;
    color: black;
    margin: 20px;
    justify-content: center;
    border-radius: 15px;
}

.payments-container h3{
    padding: 30px 30px 10px 30px;
    text-align: center;
}

.payments-form{
    padding: 1em;
    background:white;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.payments-form input  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.btn{
    background-color: #FBCF00;
    border: 0;
    cursor: pointer;
}


.amountNumber{
    border: 2px solid #3c2278;
    background-color: white;
    padding: 10px 30px 10px 30px;
    text-align: center;
    cursor: pointer;
}

.amountNumber:hover{
    background-color: #3c2278;
    color: white;
}


/*PAYMENTS*/

#payments{
    display:grid; 
    grid-template-columns: 1fr 4.2fr;
    gap: 10px;
    padding: 20px; 
}


.payments-container{
    background-color: white;
    color: black;
    margin: 20px;
    justify-content: center;
    border-radius: 15px;
}

.payments-container h3{
    padding: 30px 30px 10px 30px;
    text-align: center;
}

.payments-form{
    padding: 1em;
    background:white;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.payments-form input  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.btn{
    background-color: #FBCF00;
    border: 0;
    cursor: pointer;
}


.amountNumber{
    border: 2px solid #3c2278;
    background-color: white;
    padding: 10px 30px 10px 30px;
    text-align: center;
    cursor: pointer;
}

.amountNumber:hover{
    background-color: #3c2278;
    color: white;
}
