body{
    margin: 0;
    background-color: #3c2278c9;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
}
p{
    font-size: 16px;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 18px;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

nav {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    background-color: #3c2278;
    padding: 20px;
}
nav a{
    color: white;
    margin: auto 0px auto 0px;
}

.logo {
    font-size: 30px;
    margin-left: 60px;
}

footer {
    background-color: #3c2278;
    padding: 20px;
    color: white;
}

.footer-container{
    width: 1250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr;
    margin: auto;
}

footer h3{
    font-weight: bold;
    margin: 0px auto 30px auto;
}
footer h2{
    font-weight: 400;
    margin: 0px auto 30px auto;
}
footer p{
    margin: 5px auto 5px auto;
}
.company-info p{
    font-size: 12px;
    font-weight: bold;
}

.company-info{
    margin-left: auto;
}