#userprofil{
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;  
}

.userprofil-container{
    background-color: white;
    color: black;
    justify-content: center;
    border-radius: 15px;
    width: 500px;
    padding: 20px;
}

.userprofil-name-img{
    display: grid;
    padding: 20px;
    justify-items: center;
    margin-bottom: 20px;
}

  
  .userprofil-container img{
    border-radius:100%;
    height: 200px;
    width: 200px;
  }

 .userprofil-phone-email{
    display: grid;
  }

  .userprofil-phone-email input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .userprofil-phone-email input[type=submit]{
    background-color: #FBCF00;
    border: 0;
    padding: 10px;
    cursor: pointer;
  }